doctype html 
html 
    head 
        title dance-with-harry
        block script
        block style       
    body
        <header id="head">
        <nav id="navbar">
            <ul class="navigation">
               <h3>MANI MOVES</h3>
                <li><a href="/">Home</li></a>
                <li><a href="/Form">Form</li></a>
                <li><a href="">Services</li></a>
                <li><a href="">About us</li></a>
            </ul>
        </nav>
    </header>
        block content
        <footer id="footer" class="center"> Copyright&copy;  2021  www.dance-with-mani.com | All rights Reserved</footer>

        
