//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <title>www.dance-with-mani.com.pk</title>
//-      style
//-         include ../static/style.css
//- </head>
//- <body>
//-     <header id="head">
//-         <nav id="navbar">
//-             <ul class="navigation">
//-                <h3>MANI MOVES</h3>
//-                 <li><a href="">Home</li></a>
//-                 <li><a href="">Form</li></a>
//-                 <li><a href="">Services</li></a>
//-                 <li><a href="">About us</li></a>
//-             </ul>
//-         </nav>
//-     </header>
//-     <section id="picture">
//-         <p class ="para1" > Dance With Mani</p>
//-         <p class ="para2" > WE HAVE THE BEST TRAINERS IN THE COUNTRY  </p>
//-         <input class="btn1" type="button" value="Apply Now"> 
       
//-     </section>
//-     <section id="mission">
//-         <H2 class="center">Our Mission</H2>
//-         <div id="main-card">
//-             <div class="card">
//-             <h3>LOYALTY</h3>
//-             <div class="card-box">
//-                 <img  class ="card-img"src="../static/logo.png" alt="www">
//-             <p class="card-para">Loyalty B/t Trainer and student matters most</p></div>
//-         </div>
//-         <div class="card">
//-             <h3>PERFECTION</h3>
//-             <div class="card-box">
//-                 <img class ="card-img" src="../static/logo.png" alt="www">
//-             <p class="card-para">We want you to be Perfect</p></div>

//-         </div>
//-         <div class="card">
//-             <h3>DETERMINATION</h3>
//-             <div class="car-box ii">
//-                 <img class ="card-img " src="../static/logo.png" alt="www">
//-                 <p class="card-para">Dance with Determination</p></div>
   
//-         </div>
//-         </div>
//-     </section>
//-     <section id="sponsor">
//-         <h2 class="center">SPONSORS</h2>
//-         <div class="spn">
//-             <img  class="spn -image" src="../static/para1.png" alt="sponsor">
//-             <img  class="spn -image" src="../static/para1.png" alt="sponsor">
//-             <img  class="spn -image" src="../static/para1.png" alt="sponsor">
//-             <img  class="spn -image" src="../static/para1.png" alt="sponsor">
//-             <img  class="spn -image" src="../static/para1.png" alt="sponsor">
//-         </div>
//-     </section>
//-     <footer id="footer" class="center"> Copyright&copy;    www.dance-with-mani.com | All rights Reserved</footer>
//- </body>
//- script      
//-     include ../static/index.js
//- </html>